apiVersion: v1
automountServiceAccountToken: true
kind: ServiceAccount
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/component: manager
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: sbd-operator
    app.kubernetes.io/part-of: sbd-operator
  name: sbd-operator-sbd-operator-controller-manager
