apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  name: sbd-operator-webhook-service
spec:
  ports:
  - name: webhook-server
    port: 443
    protocol: TCP
    targetPort: 9443
  selector:
    control-plane: controller-manager
status:
  loadBalancer: {}
