---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-medik8s-medik8s-io-v1alpha1-sbdconfig
  failurePolicy: Fail
  name: vsbdconfig.kb.io
  rules:
  - apiGroups:
    - medik8s.medik8s.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - sbdconfigs
  sideEffects: None
