---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: sbd-agent-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - medik8s.medik8s.io
  resources:
  - sbdremediations
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - medik8s.medik8s.io
  resources:
  - sbdremediations/status
  verbs:
  - patch
  - update
